    body {
    background-color: rgba(108, 122, 137, .95);
}

h1 {
    color: rgb(228, 241, 254);
    font-family: 'VT323', monospace;
    font-size: 100px;
    text-align: center;
}

.form {
    text-align: center;
}

.container {
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
}

input {
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    background-color: rgba(228, 241, 254, .7);
    text-align: center;
}

button {
    font-family: 'Cutive Mono', monospace;
    background-color: dimgrey;
    color: white;
    width: 10%;
    margin: 10px;
    font-size: 20px;
}

#checkboxTD:checked+#labelCB:after {
    content: "✔︎";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: white;
    transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

#labelCB {
    position: relative;
}

#checkboxTD {
    /*display: none;*/
}


