/*

  Find a FLAT UI color:
    * http://www.flatuicolorpicker.com/
    * Be sure to make sure the font color contrasts with the color
      * If the color is darker the font should be white
      * If the color is lighter it should be black
    * MAKE THIS YOUR body background color!

  Going forward
    * Style all elements as some rgba() that's
      some shade of gray with some alpha transparency
    * The goal here is to make elements darker or lighter
      but have the color for entire page never change

  Add Style for a .form class
  Add Style for a generic .container class
    * Containers should be centered
    * Should have a width of 80%

  Add a style for a .todo

*/

body {
  background-color: hsla(26, 45%, 85%, 1);
}

#app-header {
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

#app {
  width: 50%;
  margin: 0 auto;
}

#inputs {
  text-align: center;
  margin auto;
}

.todo-container{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  border: 2px solid black;
  width: 100%;
  background-color: rgba(201, 201, 201, .2);

}

.completed {
  background-color: rgba(201, 201, 201, .8);
}

.checkbox {
  margin: 1% 5%;
  vertical-align: middle;
}

